:root {
  --grey-500: hsl(0, 0%, 50%);
  --grey-600: hsl(0, 0%, 40%);
  --grey-700: hsl(0, 0%, 30%);
  --grey-900: hsl(0, 0%, 10%);
  --green-300: hsl(110, 45%, 70%);
  --green-400: hsl(110, 45%, 60%);
  --green-600: hsl(110, 45%, 40%);
  --red-400: hsl(10, 60%, 60%);
  --blue-500: hsl(201, 80%, 59%);
  --blue-700: hsl(201, 90%, 30%);
  --purple-50: hsl(250, 30%, 98%);
  --purple-100: hsl(250, 48%, 95%);
  --purple-200: hsl(250, 48%, 90%);
  --purple-300: hsl(250, 48%, 85%);
  --purple-400: hsl(250, 48%, 70%);
  --purple-500: hsl(250, 48%, 65%);
  --purple-600: hsl(250, 48%, 60%);
  --purple-700: hsl(250, 48%, 55%);
  --purple-900: hsl(250, 38%, 45%);
  --yellow-100: hsl(56, 100%, 95%);
  --yellow-200: hsl(56, 100%, 90%);
  --yellow-500: hsl(56, 100%, 65%);
}

* {
  box-sizing: border-box;
}
:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}
input:focus, textarea:focus {
  background: azure;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1.6rem 0 0;
  line-height: 1.6rem;
  font-family: sans-serif;
  color: var(--grey-900);
}

/* HELPERS */
.spacer {
  flex: 1;
}
.no-margin {
  margin: 0 !important;
}
.full-width {
  display: block;
  width: 100% !important;
}

/* LAYOUT */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.6rem 1.6rem;
  padding: 0.8rem;
  border-radius: 16px;
}
header a.logo {
  width: 64px;
  height: 64px;
  margin: 0 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple-700);
}
header a.logo img {
  width: 100%;
}
header .container {
  display: flex;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
}
nav a.text {
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple-700);
  border-radius: 4px;
}
nav a.text:hover, nav a.text:active {
  color: #fff;
  background-color: var(--purple-500);
}
main {
  flex: 1;
  margin: 0 1.6rem;
}
footer {
  margin: 4.8rem 0 0;
  padding: 0 1.6rem 1.6rem;
  background-color: var(--purple-900);
  color: var(--purple-200);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.narrow {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
section.profile p, .demo p {
  font-size: 1.2rem;
}
.demo {
  margin: 6.4rem auto;
}

.card {
  margin: 0 0 1.6rem;
  padding: 0 1.6rem;
  background-color: #fff;
  background-color: var(--purple-50);
  border: 2px solid var(--purple-200);
  border-radius: 4px;
}
.card.card--transparent {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
}
.card--profileHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.card--profileHeader p, .card--profileHeader small {
  margin: 0;
}
.card--small-profile {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
}
.card--small-profile-dummy {
  opacity: 0.5;
  border: 0;
}
.card--small-profile .name {
  font-size: 1.4em;
}
.card--small-profile p {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
#profileName {
  font-size: 1.6rem;
  color: var(--grey-700);
}
#profileURLFingerprint {
  font-size: 1rem;
  margin: 0 0 1.2rem;
}

.hcards {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  margin-bottom: 1.6rem;
}
.hcards--features {
  text-align: center;
}
.hcards .card {
  margin: 0;
}
.hcards--col-1-2, .hcards--col-2-1 {
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}
.hcards--col-1-2 .card, .hcards--col-2-1 .card {
  grid-column: 1 / 2;
}
@media screen and (min-width: 1024px) {
  .hcards--max-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hcards--col-1-2, .hcards--col-2-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 720px) {
  .hcards--col-2-1 .card:nth-of-type(1) {
    grid-column: 1 / -2;
  }
  .hcards--col-2-1 .card:nth-of-type(2) {
    grid-column: -2 / -1;
  }
  .hcards--col-1-2 .card:nth-of-type(1) {
    grid-column: 1 / 2;
  }
  .hcards--col-1-2 .card:nth-of-type(2) {
    grid-column: 2 / -1;
  }
}
@media screen and (max-width: 640px) {
  header {
    flex-direction: column;
  }
  header .spacer {
    display: none;
  }
  header a.logo {
    margin-bottom: 1.6rem;
    order: -1;
  }
}

.warning {
  padding: calc(0.8rem - 2px) 0.8rem;
  background-color: var(--yellow-200);
  border: solid 2px var(--yellow-500);
}
.warning p:first-of-type {
  margin-top: 0;
}
.warning p:last-of-type {
  margin-bottom: 0;
}

kx-claim {
  display: block;
  margin: 12px 0;
}

#profileAvatar {
  display: inline-block;
  min-width: 96px;
  max-width: 128px;
  line-height: 0;
  text-align: center;
  border-radius: 50%;
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.6em;
  margin: 3.2rem 0 1.6rem;
  font-weight: normal;
  color: var(--purple-700);
  cursor: default;
}
h2 {
  font-size: 1.4em;
  margin: 3.2rem 0 1.6rem;
  font-weight: normal;
  color: var(--purple-700);
  cursor: default;
}
h2 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-600);
  color: #fff;
  border-radius: 4px;
}
h3 {
  margin: 1.6rem 0;
  font-size: 1.3em;
  line-height: 1.6rem;
  color: var(--grey-700);
  font-weight: normal;
  /* text-align: center; */
  cursor: default;
}
h3 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-400);
  color: #fff;
  border-radius: 4px;
}
h4 {
  margin: 1.6rem 0;
  font-size: 1em;
  line-height: 1.6rem;
  color: var(--grey-600);
  /* color: var(--purple-700); */
  font-weight: bold;
  cursor: default;
}
h4 small {
  margin-left: 0.8rem;
  padding: 3px 6px;
  background-color: var(--purple-400);
  color: #fff;
  border-radius: 4px;
}
p {
  margin: 1.6rem 0;
}
p.warning {
  padding: 8px;
  background-color: #fffadc;
  border: solid 1px #ffeea8;
}
a {
  color: var(--blue-700);
}
ul {
  padding-left: 1em;
  list-style: '- ';
}
main h1:first-of-type {
  margin-top: 1.6rem;
}
footer h1 {
  margin-bottom: 0.8rem;
  color: var(--purple-200);
  font-size: 1.2rem;
  font-weight: bold;
}
footer a {
  display: inline-block;
  color: var(--purple-100);
  height: 32px;
}

code {
  padding: 2px 4px;
  background-color: var(--purple-100);
  border: 1px solid var(--purple-500);
}
pre {
  padding: 8px 12px;
  background-color: var(--purple-100);
  border: 1px solid var(--purple-500);
  overflow-x: auto;
  line-height: 1.2rem;
  font-size: 1rem;
}
pre code {
  padding: 0;
  background-color: 0px;
  border: 0px;
}

#qr {
  display: block;
  width: 100% !important;
  max-width: 256px !important;
  height: auto !important;
  margin: 0 auto 16px;
}

/* FORM ELEMENTS */
.form-wrapper {
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
  margin-bottom: 48px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.form-wrapper h2 {
  margin-top: 0;
}
form input[type="text"], form input[type="search"] {
  margin: 8px 0;
  padding: 4px;
  border: 1px solid #444;
  font-size: 0.9rem;
}
form textarea {
  width: 100%;
  height: 128px;
  margin: 8px 0;
  resize: vertical;
  font-size: 0.9rem;
  border: 1px solid #444;
}
.button-wrapper, .radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
form .button-wrapper, form .radio-wrapper {
  margin: 8px 0;
}
form input[type="radio"] {
  display: none;
}
form input[type="radio"] + label {
  padding: 2px 8px;
  background-color: #fff;
  border-radius: 3px;
  border: solid 2px var(--purple-400);
  cursor: pointer;
}
form input[type="radio"] + label:hover {
  background-color: var(--purple-100);
  border: solid 2px var(--purple-500);
}
form input[type="radio"]:checked + label {
  color: #fff;
  background-color: var(--purple-600);
  border: solid 2px var(--purple-600);
}

input[type="button"], input[type="submit"], button, a.button {
  display: inline-block;
  min-height: 36px;
  margin: 8px 0;
  padding: 4px 8px;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
  border: solid 2px var(--purple-400);
  border-radius: 4px;
  cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, a.button:hover {
  background-color: var(--purple-500);
  border-color: var(--purple-500);
  color: #fff;
}
a.button i {
  font-size: 1.4em;
}
a.button.button--liberapay {
  padding: 8px 16px;
  font-size: 0.95rem;
  color: #333;
  background-color: #ffee16;
  border: 0;
}
a.button.button--liberapay:hover {
  background-color: #fff463;
}

/* DIALOGS */
dialog {
  width: 100% !important;
  max-width: 800px !important;
  padding: 0 !important;
  word-wrap: anywhere;
}
dialog > div {
  padding: 1em;
}
dialog form[method="Dialog"] {
  margin: 1em 0 0 !important;
}
dialog form[method="Dialog"] input {
  width: auto;
}
dialog p {
  font-size: 1rem !important;
  margin: 1rem 0;
}
dialog p:first-of-type {
  margin-top: 0;
}

/* KX-ITEM */
.kx-item details {
  width: 100%;
  border-radius: 8px;
}
.kx-item details p {
  margin: 0;
  word-break: break-word;
  font-size: 1rem;
}
.kx-item details a {
  color: var(--blue-700);
}
.kx-item details hr {
  border: none;
  border-top: 2px solid var(--purple-100);
}
.kx-item details .content {
  padding: 12px;
  border: solid 3px var(--purple-100);
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
}
.kx-item details summary {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--purple-100);
  border: solid 3px var(--purple-100);
  border-radius: 8px;
  list-style: none;
  cursor: pointer;
}
.kx-item details summary::-webkit-details-marker {
  display: none;
}
.kx-item details summary:hover, summary:focus {
  border-color: var(--purple-400);
}
details[open] summary {
  border-radius: 8px 8px 0px 0px;
}
.kx-item details summary .info {
  flex: 1;
}
.kx-item details summary .info .title {
  font-size: 1.1em;
}
.kx-item details summary .claim__description p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.kx-item details summary .claim__links p, p.subtle-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  color: var(--grey-700);
}
.kx-item details summary .claim__links a, summary .claim__links span, p.subtle-links a {
  font-size: 1rem;
  margin: 0 10px 0 0;
  color: var(--grey-700);
}
.kx-item details summary .subtitle {
  color: var(--purple-700);
}
.kx-item details summary .verificationStatus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  color: #fff;
  font-size: 2rem;
  user-select: none;
}
.kx-item details summary .verificationStatus::after {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.kx-item details summary .verificationStatus .inProgress {
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}
.kx-item details summary .verificationStatus[data-value="success"] {
  content: "v";
  background-color: var(--green-600);
}
.kx-item details summary .verificationStatus[data-value="success"]::after {
  content: "✔";
}
.kx-item details summary .verificationStatus[data-value="failed"] {
  background-color: var(--red-400);
}
.kx-item details summary .verificationStatus[data-value="failed"]::after {
  content: "✕";
}
.kx-item details summary .verificationStatus[data-value="running"] .inProgress {
  opacity: 1;
}

.kx-item details .subsection {
  display: flex;
  align-items: center;
  gap: 16px;
}
.kx-item details .subsection > img {
  width: 24px;
  height: 24px;
  opacity: 0.4;
}

.kx-item details .inProgress {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--purple-400);
  background: -moz-linear-gradient(left, var(--purple-400) 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, var(--purple-400) 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, var(--purple-400) 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, var(--purple-400) 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, var(--purple-400) 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.kx-item details .inProgress:before {
  width: 50%;
  height: 50%;
  background: var(--purple-400);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.kx-item details .inProgress:after {
  background: var(--purple-100);
  width: 65%;
  height: 65%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.kx-item details button {
  padding: 0.4rem 0.8rem;
  margin-right: 8px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 2px var(--purple-400);
  border-radius: 4px;
  cursor: pointer;
}
.kx-item details button:hover {
  background-color: var(--purple-500);
  border-color: var(--purple-500);
  color: #fff;
}

@media screen and (max-width: 640px) {
  .kx-item details summary .claim__description p {
    font-size: 1.2rem;
  }
  .kx-item details summary .claim__links a, p.subtle-links a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  summary .claim__description p {
    font-size: 1rem;
  }
  .kx-item details summary .verificationStatus {
    width: 36px;
    height: 36px;
    font-size: 1.6rem;
  }
  .kx-item details .inProgress {
    width: 36px;
    height: 36px;
  }
}

@-webkit-keyframes load3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
